.in{
    display: inline-block;
}
.in1{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
    text-align: center;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.img1{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
a{
    text-decoration: none;
    margin-right: 20px;
}
.header {
    position: relative;
    width: 100%;
    z-index: 10
}
.vertical {
    border-left: 2px solid black;
    height: 340px;
    display: inline-block;
}